$white: #ffffff;
$black: #000000;
$gray: #A7A9AC;
$gray-light-1: #f9f9f9;
$gray-light-2: #EDEEEE;
$gray-light-3: #d3d3d3;
$blue: #3399FF;
$text-color: #333333;
$badly:#FF7360;
$excellent: #66CC66;
$satisfactorily: #FFE06D;