<template>
  <div class="actions">
    <div class="actions__filter filter">
      <button
        class="filter__button"
        :class="{ filter__button_selected: filter === planned }"
        @click="filterOperations(planned)"
      >
        Запланированные операции
      </button>
      <button
        class="filter__button"
        :class="{ filter__button_selected: filter === comleted }"
        @click="filterOperations(comleted)"
      >
        Выполненные операции
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';
import OperationFilter from '../models/Filter';

@Component
export default class AppActions extends Vue {
  private filter: OperationFilter = OperationFilter.NONE;

  private planned: OperationFilter = OperationFilter.PLANNED;

  private comleted: OperationFilter = OperationFilter.COMPLETED;

  @Emit('filter')
  filterOperations(filter: OperationFilter): OperationFilter {
    if (filter === this.filter) {
      this.filter = OperationFilter.NONE;
    } else {
      this.filter = filter;
    }
    return this.filter;
  }
}
</script>

<style lang="scss" scoped>
@import './../styles/colors.scss';
.actions {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.filter {
  display: flex;
  align-items: center;
  &__button {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-right: 18px;
    cursor: pointer;
    outline: none;

    &_selected,
    &:hover {
      color: $blue;
    }
  }
}
</style>
