<template>
  <div>
    <AppActions @filter="setFilter" />
    <div class="table">
      <div class="table__header table__row">
        <div class="table__col table__col_date">
          <div
            class="table__ceil"
            :class="sortedCol(dateSort)"
            @click="sortByDate()"
          >
            Дата
          </div>
        </div>
        <div class="table__col table__col_type">
          <div
            class="table__ceil"
            :class="sortedCol(typeSort)"
            @click="sortByType()"
          >
            Операция
          </div>
        </div>
        <div class="table__col table__col_crop">
          <div class="table__ceil">Культура</div>
        </div>
        <div class="table__col table__col_assessment">
          <div
            class="table__ceil"
            :class="sortedCol(assessmentSort)"
            @click="sortByAssessment()"
          >
            Качество
          </div>
        </div>
      </div>
      <div
        class="table__row"
        v-for="operation of sortedOperations"
        :key="operation.id"
      >
        <div class="table__col table__col_date table__col_uppercase">
          <div class="table__ceil">{{ operation.date | date }}</div>
        </div>
        <div class="table__col table__col_type type">
          <div class="table__ceil">{{ operation.type | localeType }}</div>
        </div>
        <div class="table__col table__col_crop crop">
          <div class="table__ceil">{{ 'Пшеница озимая' | localeCrop }}</div>
        </div>
        <div class="table__col table__col_assessment assessment">
          <div
            class="assessment__indicator"
            :class="setLevel(operation.assessment)"
            v-if="operation.assessment !== null"
          ></div>
          <div class="table__ceil assessment__text">
            {{ operation.assessment | localeAssessment }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import AppActions from '@/components/AppActions.vue';
import Operation, { OperationType, Assessment } from '../models/Operation';
import { SortType, SortDirection } from '../models/Sort';
import TDate from '../models/TDate';
import OperationFilter from '../models/Filter';

import locales from '@/locales/locales.ru-Ru.ts';

const formatter = new Intl.DateTimeFormat('ru', {
  year: 'numeric',
  month: 'short',
  day: '2-digit',
});

@Component({
  components: { AppActions },
  computed: {
    ...mapGetters({
      operations: 'getOperations',
    }),
  },
  filters: {
    date: function (value: TDate) {
      return formatter.format(TDate.toDate(value));
    },
    localeType: function (value: OperationType) {
      return locales[OperationType[value]];
    },
    localeAssessment: function (value: Assessment) {
      return locales[Assessment[value]];
    },
    localeCrop: function (value: string) {
      return value;
    },
  },
})
export default class AppTable extends Vue {
  private operations!: (
    sort: SortType,
    direction: SortDirection,
    filter: OperationFilter
  ) => Operation[];

  private dateSort = SortType.DATE;
  private typeSort = SortType.TYPE;
  private assessmentSort = SortType.ASSESSMENT;
  private increaseSort = SortDirection.INCREASE;
  private decreaseSort = SortDirection.DECREASE;

  private currentSortType: SortType = SortType.DATE;

  private currentSortDirection: SortDirection = SortDirection.NONE;

  private currentFilter: OperationFilter = OperationFilter.NONE;

  get sortedOperations() {
    return this.operations(
      this.currentSortType,
      this.currentSortDirection,
      this.currentFilter
    );
  }

  sortByDate() {
    if (this.currentSortType === SortType.DATE) {
      this.currentSortDirection =
        this.currentSortDirection === SortDirection.INCREASE
          ? SortDirection.DECREASE
          : SortDirection.INCREASE;
    } else {
      this.currentSortDirection = SortDirection.DECREASE;
    }
    this.currentSortType = SortType.DATE;
  }

  sortByType() {
    if (this.currentSortType === SortType.TYPE) {
      this.currentSortDirection =
        this.currentSortDirection === SortDirection.INCREASE
          ? SortDirection.DECREASE
          : SortDirection.INCREASE;
    } else {
      this.currentSortDirection = SortDirection.DECREASE;
    }
    this.currentSortType = SortType.TYPE;
  }

  sortByAssessment() {
    if (this.currentSortType === SortType.ASSESSMENT) {
      this.currentSortDirection =
        this.currentSortDirection === SortDirection.INCREASE
          ? SortDirection.DECREASE
          : SortDirection.INCREASE;
    } else {
      this.currentSortDirection = SortDirection.DECREASE;
    }
    this.currentSortType = SortType.ASSESSMENT;
  }

  setFilter(filter: OperationFilter) {
    this.currentFilter = filter;
  }

  setLevel(assessment: Assessment) {
    switch (assessment) {
      case 0:
        return 'excellent';
      case 1:
        return 'satisfactorily';
      case 2:
        return 'badly';
      default:
        return '';
    }
  }

  sortedCol(value: SortType) {
    if (
      value === this.currentSortType &&
      this.currentSortDirection !== SortDirection.NONE
    ) {
      return this.currentSortDirection === SortDirection.INCREASE
        ? 'increase'
        : 'decrease';
    }
    return '';
  }
}
</script>

<style lang="scss" scoped>
@import './../styles/colors.scss';

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    font-weight: bold;
    background-color: $gray-light-2;
    & .table__ceil {
      &:after {
        content: ' ';
        margin-left: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #a7a9ac;
        border-bottom: 0;
      }
      &.decrease:after {
        content: ' ';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #3399ff;
        border-top: 0;
      }
      &.increase:after {
        content: ' ';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #3399ff;
        border-bottom: 0;
      }
      &:hover {
        background-color: $gray-light-3;
      }
    }
  }
  &__row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $gray-light-2;
    &:hover {
      background-color: $gray-light-2;
    }
  }
  &__col {
    &_uppercase {
      text-transform: uppercase;
    }
    &_date {
      width: 150px;
      font-size: 11px;
    }
    &_type {
      width: 300px;
      flex-grow: 2;
      font-size: 13px;
    }
    &_assessment {
      width: 200px;
      font-size: 11px;
    }
    &_crop {
      flex-grow: 1;
      width: 230px;
      font-size: 11px;
    }
  }
  &__ceil {
    height: 50px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    word-break: break-word;
    cursor: pointer;
  }
}
.crop {
  background: url('../assets/crop.svg') 10px center no-repeat;
  padding-left: 50px;
}
.type {
  font-weight: bold;
}
.assessment {
  display: flex;
  align-items: center;
  &__indicator {
    width: 20px;
    height: 10px;
    background-color: $white;
    border-radius: 10px / 10px;

    &.excellent {
      background-color: $excellent;
    }
    &.satisfactorily {
      background-color: $satisfactorily;
    }
    &.badly {
      background-color: $badly;
    }
  }
}
</style>
