<template>
  <div id="app">
    <header class="header"></header>
    <main class="content">
      <h1 class="title">Операции на поле 112</h1>
      <AppLoader v-if="loading" />
      <AppTable />
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState } from 'vuex';

import { AppLoader, AppTable } from './components';

@Component({
  components: { AppLoader, AppTable },
  computed: {
    ...mapState(['loading']),
  },
})
export default class App extends Vue {
  private loading!: boolean;

  async beforeMount() {
    await this.$store.dispatch('fetchOperations');
  }
}
</script>

<style lang="scss">
@import './styles/colors.scss';

* {
  padding: 0;
  margin: 0;
  color: $text-color;
  font-family: 'Ubuntu', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
#app {
  background-color: $white;
  height: 100vh;
}
.header {
  width: 100%;
  height: 80px;
  background: $black;
}
.content {
  display: flex;
  flex-direction: column;
  width: 866px;
  height: calc(100% - 80px);
  margin: 0 auto;
  background: $gray-light-1;
  padding: 23px 30px;
}
</style>
